
	/**Create a new file called "main.css"
	*Add a link element to the head of your index.html file
	<link rel="stylesheet" href="main.css" type="text/css">
	*Edit the main.css file
	add a declaration for each element in the body of your 	index.html file.
	add properties to style the background color of each element.
	add properties to style the border of each element.
	add properties to style the font and text of each element.
	*Use at least 20 different properties. Include a list of these 		20 at the TOP of your main.css file as a css comment.
	*Use at least 4 different units to set sizes of various aspects of your webpage.
	*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
	*View your index.html in the development server.
	*Validate your index.html file.
	*Validate your main.css file.
	*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
	*Upload to the production server with sftp.
	*View your index.html in the production server.*/

html { 
		background-color : DeepPink ; 
		border-color : Black ;
		border-style : dotted ;
		border-width : 6px ;
		margin-top : 20px ;
		margin-left : 10px ;
}
h1 {
		background-color : White ;
		color : GreenYellow ;
		text-align : center ;
		font-size : 60px ;
		border-style : dotted ;
		border-color : Black ;
		border-width : 3px ;
		text-shadow : 2px 2px 2px blue ;
		padding : 2px ; 
		padding-left : 1cm ;
		padding-right : 1cm ;
		padding-bottom : 1cm ;
}
h2 {
		background-color : Khaki ;
		text-align : left ;
		font-size : 30px ;
		font-style : italic ;
		border-style : dotted ;
		border-color : Black ;
		border-width : 2px ; 
		opacity : 0.5 ; 
		font-family : monospace ;
		max-height : 125px ;
		max-width : 120px ;
		color: white;
		transform: rotate(-7deg);
}	
p {
		border-style : solid ;
		border-width : 2px ;
		border-color : ForestGreen ;
		font-size : 14px ;
		text-align : right ;
		background-color : White ; 
		margin : 2cm ;
		text-shadow: 1px 1px #ff0000;
		padding: 10px;
		padding-bottom: 1cm;
		adding-top: 1cm;
		padding-right: 1cm;
		padding-left: 1cm;
		font-size: 250%;
		direction: rtl;
}
